GROUP=01
ENV=dev
AWS_REGION=us-east-1

AWS_PROFILE=default

# Prefijo base
PREFIX=ejrp

# Prefijo completo para recursos con ambiente
RESOURCE_PREFIX=${PREFIX}-g${GROUP}-${ENV}

# Buckets (estándar)
S3_RAW_BUCKET=${PREFIX}-g${GROUP}-raw
S3_CURATED_BUCKET=${PREFIX}-g${GROUP}-curated
S3_ATHENA_RESULTS_BUCKET=${PREFIX}-g${GROUP}-athena-results